<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Library application</title>
</head>
<body>
<h1 th="${title}">My Library application</h1>

<p>
<table>
    <thead>
    <tr>
        <th>Title</th>
        <th>Original Title</th>
        <th>ISBN</th>
        <th>Published in Year</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Software Design for Flexibility</td>
        <td>&nbsp;</td>
        <td>978-0-262-04549-0</td>
        <td>2021</td>
    </tr>
    </tbody>
</table>
</p>
</body>
</html>