<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head title="My Library application">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<div th:fragment="copy">
    <h1 th="${title}">My Library application</h1>
    <h3 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h3>

    <form th:action="@{/logout}" method="post">
        <label for="sign-out">Sign out</label>
        <input type="submit" value="Sign Out" id="sign-out"/>
    </form>
</div>
</body>
</html>
